* {
    background-color: rgb(15, 15, 15);
    font-family: 'Poppins', sans-serif;
}

.page {
    box-sizing: border-box;
    margin: 5%;
}

img {
    margin: 1px;
}

.dropdown {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-button {
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(40, 255, 255);
    font-size: 24px;
    border: none;
}

.drop-button:hover .dropdown-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 24px;
}

.dropdown-content {
    display: none;
    background-color: rgb(40, 255, 255);
}

.dropdown-content ul {
    padding: 5px;
    list-style-type: none;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.dropdown-content ul li {
    display: flex;
    padding: 10px;
}

.dropdown-content ul li a {
    text-decoration: none;
    font-family: Arial;
    padding: 1px;
    color: rgb(240, 255, 255);
}

.page-text {
    display: block;
    font-size: 20px;
    color: rgb(240, 255, 255);
}

.page-text h1 {
    text-decoration: underline;
}

.page-text * {
    display: flex;
}

i {
    color: rgb(40, 255, 255);
}

.page-icon {
    display: flex;
    flex: auto;
    justify-content: left;
    font-size: 100px;
    margin: 20px;
}